<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form action="/home" method="post">
       <label for="">View</label>
       <input type="text" name="view" id="">
       <br>
       <br>
       <label for="">sqft_living15</label>
       <input type="text" name="sqft_living15" id="">
       <br>
       <br>
       <label for="">bathrooms</label>
       <input type="text" name="bathrooms" id="">
       <br>
       <br>
       <label for="">sqft_above</label>
       <input type="text" name="sqft_above" id="">
       <br>
       <br>
       <label for="">grade</label>
       <input type="text" name="grade" id="">
       <br>
       <br>
       <label for="">sqft_living</label>
       <input type="text" name="sqft_living" id="">
       <br>
       <br>
       <button type="submit" value="Submit">Submit</button>
    </form>
  <h1>Predicted Price of house is {{p}}</h1>
</body>
</html>